// _________________ SKILLS CARDS _________________ /
.card-skills{
  box-shadow: 6px -1px 34px 5px #ccc;
  border:none;

  .skills-image {
    margin-bottom: 20px;
    width: 40%
  }

  #programingLanguages{
    font-size: 10px;
  }
}


// _________________  PORTFOLIO CARDS _________________ /



.cardsportfolio{
  margin-left:30px;

}

.imagesportfolio{
  width: 40%;
}
