.contact_form{
  border:solid;
  box-shadow: 6px -1px 34px 5px #ccc;
  border-radius: 13px;
  margin: 20px 30px;
  padding: 20px;
  background-color: white;

  h2{
    font-family: 'Cormorant', serif;
    color:black;
  }

  p{
    font-family: 'Libre Franklin', sans-serif;
    color: black;
  }

  input{
    border:none;
  }

  #contact_message{
    border:none;
  }
  .field{
    border-style: none none solid none;
    
  }

  .label{
    font-family: 'Cormorant', serif;
    color:black;
  }

  .hidden{
    display:none;
  }
}
